.obpress-incentives-holder {
  font-family: "Montserrat", Sans-serif;
}

.obpress-incentives-holder p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 12px;
  color: #000000;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.obpress-incentives-holder h3 {
  color: #000000;
  font-size: 48px;
  margin-top: 0px;
  margin-bottom: 68px;
  font-weight: bold;
}

.obpress-incentives-holder h3,
.obpress-incentives-holder p {
  text-align: center;
}

.obpress-incentive {
  height: 196px;
  background-color: #fff;
  padding: 27px 23px 20px 23px;
  text-align: center;
}

.obpress-incentive h4 {
  text-align: center;
  margin-top: 0px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 26px;
  line-height: 29px;
}

.obpress-incentive p {
  color: #777777;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0px;
  text-transform: capitalize;
  line-height: 24px;
  margin-top: 0px;
  margin-bottom: 27px;

}

.obpress-incentive button {
  background-color: #000000;
  color: #fff;
  padding: 7px 40px;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  font-size: 14px;
  font-weight: bold;
}

.obpress-incentive button:hover {
  cursor: pointer;
}

.obpress-incentives-swiper .swiper-slide img {
  width: 770px;
}

.obpress-incentives-swiper-nav {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 50px;  
}

.obpress-incentives-swiper-nav .swiper-button-prev,
.obpress-incentives-swiper-nav .swiper-pagination,
.obpress-incentives-swiper-nav .swiper-button-next {
  position: static;
}

.obpress-incentives-swiper-nav .swiper-pagination {
  display: flex;
  align-items: center;
}

.obpress-incentives-swiper-nav .swiper-button-prev,
.obpress-incentives-swiper-nav .swiper-button-next {
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  background-size: cover;
  margin-top: 0px;
}

.obpress-incentives-swiper-nav .swiper-button-prev {
  background-image: url(../icons/prev.svg);
  margin-right: 80px;
}

.obpress-incentives-swiper-nav .swiper-button-next {
  background-image: url(../icons/next.svg);
  margin-left: 80px;
}

.obpress-incentives-swiper-lines .swiper-pagination-bullet {
  border-radius: 0px;
  width: 20px;
}

.obpress-incentives-swiper-lines .swiper-pagination-bullet-active {
  width: 30px;
}

.obpress-incentives-swiper-nav .swiper-pagination-bullet {
  margin-right: 10px;
}

.obpress-swiper-pagination-disabled {
  display: none!important;
}

.obpress-incentives-swiper-nav .swiper-pagination-bullet:last-child {
  margin-right: 0px;
}


.obpress-incentives-link-holder  {
  text-align: center;
}

.obpress-incentives-link-holder a {
  text-decoration: underline;
  color: #000000;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}